Email-Classifier-and Automated-Reply (2).json
{
  "name": "Simple Sheets to Pinecone",
  "nodes": [
    {
      "parameters": {},
      "id": "66ef7b67-88e9-4cb2-b1ed-4acdfd9b5536",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1792,
        256
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1N8Pl7k7l89r6Fb4-KYd0bJ9-YHPVc_ugkpBnF3_NhEg",
          "mode": "list",
          "cachedResultName": "nexus-security-approved-responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N8Pl7k7l89r6Fb4-KYd0bJ9-YHPVc_ugkpBnF3_NhEg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 207773088,
          "mode": "list",
          "cachedResultName": "nexus-security-approved-responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N8Pl7k7l89r6Fb4-KYd0bJ9-YHPVc_ugkpBnF3_NhEg/edit#gid=207773088"
        },
        "options": {}
      },
      "id": "56a66926-cb04-4f95-a700-ce4ecf84c7eb",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2016,
        256
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uuhW0mpkOfxIej8b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\nreturn rows\n  .map((item, i) => {\n    const row = item.json;\n    const text = Object.entries(row)\n      .filter(([k, v]) => v !== null && v !== undefined && String(v).trim() !== '')\n      .map(([k, v]) => `${k}: ${String(v).trim()}`)\n      .join('. ');\n    return text.trim() ? { json: { text } } : null;\n  })\n  .filter(Boolean);"
      },
      "id": "b6598355-3109-48dc-8ae7-4f319da06f7d",
      "name": "Rows to Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        256
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "support-docs",
          "mode": "list",
          "cachedResultName": "support-docs"
        },
        "options": {}
      },
      "id": "7a8c8241-72cc-4fc1-935f-ea1bdde16acf",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        2688,
        256
      ],
      "credentials": {
        "pineconeApi": {
          "id": "ULREzw2QrslkFflA",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6d8c0783-6b98-4edd-9a43-7e49415c49b5",
      "name": "OpenAI Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2608,
        496
      ],
      "credentials": {
        "openAiApi": {
          "id": "kvUHkNixF6AQRLU9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2832,
        496
      ],
      "id": "231d6115-c3bb-46c6-97a2-27ddbf11d5b2",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "Reads all rows from the specified sheet tab in your Google Spreadsheet.",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1952,
        160
      ],
      "typeVersion": 1,
      "id": "784e2f77-81e2-47a1-931d-ef03d51a1be5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Converts each spreadsheet row into a natural language text string. Automatically detects all columns — no hardcoding needed. Empty cells are skipped.",
        "height": 128
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2272,
        112
      ],
      "typeVersion": 1,
      "id": "6cb41f06-328c-4cc3-85fc-ebf9e269b80d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Receives the text chunks and stores them as vectors in the support-docs index. This is the knowledge base the Support Agent searches at runtime.\nOpenAI Embeddings — Converts each text chunk into a vector embedding before storing in Pinecone. This is what makes semantic search possible.\nDefault Data Loader — Loads the incoming JSON data and passes it to Pinecone in the correct document format for ingestion.",
        "height": 176,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2672,
        64
      ],
      "typeVersion": 1,
      "id": "930d2d6a-23d5-4f7b-9088-91e3c0a325a5",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Rows to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rows to Text": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "47cb0329-bce6-4e18-b341-127c694a6f31",
  "meta": {
    "templateId": "rag-starter-template",
    "templateCredsSetupCompleted": true,
    "instanceId": "9cc215d937a42393fe8edd55c5facb019667cb86cf8ee930048135eccac093cc"
  },
  "id": "LJPEiVlD3z8OXmLV",
  "tags": []
}